<div class="border">
  <div class="text-right fw-bold p-2 border-bottom bg-white">
    <%= post.user.username %>
  </div>

  <%= image_tag post.image, style: "object-fit:contain", class: "w-100" %>
</div>
